# Obsidian folder
.obsidian/

# Config
.hintrc

# Node modules
node_modules/
package-lock.json
package.json

# Tailwind config
postcss.config.js
tailwind.config.js

# VS configuration
.vscode/