* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

header {
  margin-bottom: 20px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 5vw;
    text-transform: uppercase;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  p {
    font-size: 3vw;
    line-height: 1.6;
  }

  .container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .project-section {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 5px;
    width: 70vw;
  }

  .image-container {
    margin-bottom: 20px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  .description {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .plant-info {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
  }

  .plant-info h2 {
    margin-top: 0;
    font-size: 4vw;
  }

  .info-content h3 {
    margin-top: 20px;
    font-size: 3vw;
  }

  .info-content p {
    margin-bottom: 0;
  }

  .team-container {
    max-width: 100%;
    border: 1px solid #000000;
  }

  .team-heading {
    text-align: center;
    margin: 20px;
  }

  .team-divider {
    border: 0;
    border-top: 1px solid #000000;
    width: 100%;
  }

  .team-members {
    display: table-cell;
    margin-top: 20px;
    text-align: left;
  }

  .member {
    font-size: 3vw;
    margin: 10px;
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .project-section {
    border: 2px solid #000000;
    padding: 20px;
    border-radius: 5px;
    width: 70vw;
  }

  .image-container {
    margin-bottom: 20px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  .description {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }

  .plant-info {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
  }

  .plant-info h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .info-content h3 {
    margin-top: 20px;
    font-size: 2rem;
  }

  .info-content p {
    margin-bottom: 15px;
  }

  .team-container {
    max-width: 100%;
    border: 1px solid #000000;
  }

  .team-heading {
    text-align: center;
    margin: 20px;
  }

  .team-divider {
    border: 0;
    border-top: 1px solid #000000;
    width: 100%;
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .member {
    flex: 1 1 calc(20% - 10px);
    max-width: calc(20% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .project-section {
    border: 2px solid #ffffff;
  }

  .team-divider {
    border: 0;
    border-top: 1px solid #ffffff;
  }

  .team-container {
    border: 1px solid #ffffff;
  }
}