@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Funnel+Display:wght@300..800&display=swap");

:root {
  /*Fonts*/
  --font1: "Poppins";
  --font2: "Funnel Display";
  /*Background*/
  --bg-color1: #8f3ee5;
  --bg-color2: #639cfd;
  /*Text*/
  --text: #000000;
  --inv-text: #ffffff;
  --alt-text: #1f1f1f;
  /*Customs*/
  --purp: #8f3ee5;
  --blu: #4da6ff;
  --shadow: rgba(31, 38, 135, 0.37);
  --block-quote: rgba(15, 10, 42, 0.1);
  /*Opacity*/
  --lp-zero: rgba(255, 255, 255, 0);
  --lp-zfive: rgba(255, 255, 255, 0.05);
  --lp-one: rgba(255, 255, 255, 0.1);
  --lp-two: rgba(255, 255, 255, 0.2);
  --lp-three: rgba(255, 255, 255, 0.3);
  --lp-five: rgba(255, 255, 255, 0.5);
  --lp-eight: rgba(255, 255, 255, 0.8);
  --dp-one: rgba(0, 0, 0, 0.1);
  --dp-two: rgba(0, 0, 0, 0.2);
  --dp-three: rgba(0, 0, 0, 0.3);
  --dp-five: rgba(0, 0, 0, 0.5);
  --dp-seven: rgba(0, 0, 0, 0.7);
  --dp-eight: rgba(0, 0, 0, 0.8);
  --f-p-one: rgba(50, 50, 50, 0.1);
  --f-p-five: rgba(50, 50, 50, 0.5);
  --h-p-two: rgba(100, 100, 100, 0.2);
  --t-p-five: rgba(200, 200, 200, 0.5);
}

:root .dark-mode {
  /*Background*/
  --bg-color1: #121212;
  --bg-color2: #1f1f1f;
  /*Text*/
  --tone-text: #e0e0e0;
  --text: #ffffff;
  --inv-text: #000000;
  --alt-text: #b0b0b0;
  /*Customs*/
  --block-quote: rgba(100, 100, 100, 0.1);
  --p-one: rgba(100, 100, 100, 0.1);
  --p-two: rgba(150, 150, 150, 0.2);
  --p-eight: rgba(220, 220, 220, 0.8);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font1), sans-serif;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--bg-color1) 0%,
    var(--bg-color2) 100%
  );
  color: var(--text);
  transition: none;
}

/* Dark mode styles */
body.dark-mode {
  background: linear-gradient(
    45deg,
    var(--bg-color1) 0%,
    var(--bg-color2) 100%
  );
  color: var(--text);
}

/***************************/
/* Dark mode toggle styles */
/***************************/

.toggle {
  position: fixed;
  right: 0;
  z-index: 1000;
  background: var(--lp-two);
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--text);
  box-shadow: 0 4px 6px var(--dp-one);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .toggle:active,
  .toggle:hover {
    transform: none !important;
  }
}

#dark-mode-toggle {
  top: 20px;
}

#dark-mode-toggle:hover {
  background: var(--lp-three);
  transform: scale(1.1);
  box-shadow: 0 6px 8px var(--dp-two);
}

#dark-mode-toggle:active {
  transform: scale(0.95);
}

#dark-mode-toggle:focus {
  outline: none;
  animation: darkModeGlow 1.5s ease-out;
}

#dark-mode-toggle .fa-moon,
#dark-mode-toggle .fa-sun {
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: rotate(0deg);
}

#dark-mode-toggle .fa-moon {
  display: block;
  color: var(--text);
}

#dark-mode-toggle .fa-sun {
  display: none;
  opacity: 0;
  transform: rotate(180deg);
  animation: sunRotate 10s linear infinite paused;
}

#dark-mode-toggle.dark-mode .fa-moon {
  opacity: 0;
  transform: rotate(-180deg);
}

#dark-mode-toggle.dark-mode .fa-sun {
  display: block;
  opacity: 1;
  transform: rotate(0deg);
  animation-play-state: running;
}

@keyframes darkModeGlow {
  0% {
    box-shadow: 0 0 0 0 var(--lp-three);
  }
  70% {
    box-shadow: 0 0 0 10px var(--lp-zero);
  }
  100% {
    box-shadow: 0 0 0 0 var(--lp-zero);
  }
}

@keyframes sunRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*************************/
/* Sidebar toggle styles */
/*************************/

#sidebar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  #sidebar-toggle {
    display: flex;
    left: 0;
    top: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  #sidebar-toggle:hover {
    background: var(--lp-three);
    transform: scale(1.1);
    box-shadow: 0 6px 8px var(--dp-two);
  }

  #sidebar-toggle:active {
    transform: scale(0.95);
  }

  #sidebar-toggle .fa-bars-staggered,
  #sidebar-toggle .fa-bars {
    position: absolute;
    opacity: 1;
  }

  #sidebar-toggle .fa-bars {
    display: block;
    color: var(--text);
  }

  #sidebar-toggle .fa-bars-staggered {
    display: none;
    opacity: 0;
  }
}

/***************************/
/* Structure toggle styles */
/***************************/

#structure-toggle {
  display: flex;
  top: 80px;
}

#structure-toggle:hover {
  background: var(--lp-three);
  transform: scale(1.1);
  box-shadow: 0 6px 8px var(--dp-two);
}

#structure-toggle i {
  display: inline-block;
  transition: transform 0.3s ease;
  transform-origin: center;
}

#structure-toggle:active {
  transform: scale(0.95);
}

#structure-toggle.open i {
  transform: rotate(180deg);
}

/*************************/
/* Structure View Styles */
/*************************/

#structure-view {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: var(--lp-one);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: right 0.3s ease;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
}

#structure-view.open {
  right: 0;
}

#structure-view .structure-item,
#structure-view .structure-section,
#structure-view .structure-subsection {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

#structure-view .structure-item {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#structure-view .structure-section {
  font-size: 1.25rem;
  padding-left: 10px;
  padding-bottom: 10px;
}

#structure-view .structure-subsection {
  font-size: 1rem;
  padding-left: 20px;
}

#structure-view .structure-item:hover,
#structure-view .structure-section:hover,
#structure-view .structure-subsection:hover {
  background: var(--lp-two);
}

@media screen and (max-width: 768px) {
  #structure-view {
    z-index: 1;
    right: -100%;
    width: 100%;
  }

  #structure-view {
    padding-top: 100px;
  }

  #structure-view .structure-item:hover,
  #structure-view .structure-section:hover,
  #structure-view .structure-subsection:hover {
    background: none;
  }
}

@media screen and (max-width: 768px) and (min-width: 640px) {
  #structure-view .structure-item {
    font-size: 3rem;
  }

  #structure-view .structure-section {
    font-size: 2rem;
  }

  #structure-view .structure-subsection {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1080px) {
  #structure-view {
    padding-left: 20px;
  }
}

/* Dark mode styles */
body.dark-mode #structure-view {
  background: var(--f-p-one);
  color: var(--tone-text);
}

body.dark-mode #structure-view .structure-section h3 {
  color: var(--text);
}

body.dark-mode #structure-toggle {
  color: var(--text);
}

body.dark-mode
  #structure-view
  .structure-item:hover
  body.dark-mode
  #structure-view
  .structure-section:hover,
body.dark-mode #structure-view .structure-subsection:hover {
  background: var(--dp-five);
}

@media screen and (max-width: 768px) {
  body.dark-mode #structure-view .structure-item:hover,
  body.dark-mode #structure-view .structure-section:hover,
  body.dark-mode #structure-view .structure-subsection:hover {
    background: none;
  }
}

/*******************************************/
/* Main Container and glassmorphism styles */
/*******************************************/

.container {
  display: flex;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.glass {
  background: var(--lp-one);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid var(--lp-two);
  box-shadow: 0 8px 32px 0 var(--shadow);
}

/* Dark mode styles */
body.dark-mode .glass {
  background: var(--f-p-one);
  border-color: var(--h-p-two);
}

/******************/
/* Sidebar styles */
/******************/

#sidebar {
  width: 250px;
  min-width: 250px;
  padding: 20px;
  margin-right: 20px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  -webkit-mask-image: -webkit-radial-gradient(var(--inv-text), var(--text));
  mask-image: radial-gradient(var(--inv-text), var(--text));
}

#sidebar h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  flex-shrink: 0;
}

#sidebar .title {
  font-family: var(--font2), var(--font1), sans-serif;
  font-weight: 800;
  font-size: larger;
}

.search-container {
  margin-bottom: 20px;
  flex-shrink: 0;
}

#search-input {
  font-family: inherit;
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: var(--lp-two);
  color: var(--text);
}

#search-input::placeholder {
  color: var(--dp-seven);
}

#search-results {
  display: none;
  margin-top: 10px;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  color: var(--text);
  -webkit-mask-image: -webkit-radial-gradient(var(--inv-text), var(--text));
  mask-image: radial-gradient(var(--inv-text), var(--text));
}

#search-results div {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 14px;
  transition: background 0.3s ease;
}

#search-results div:hover {
  color: var(--text);
  background: var(--lp-two);
}

#sidebar ul {
  overflow-y: auto;
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
}

#sidebar li {
  margin-bottom: 10px;
}

#sidebar a {
  text-decoration: none;
  color: var(--alt-text);
  display: block;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

#sidebar a:hover {
  background: var(--lp-one);
  color: var(--text);
}

#sidebar a.active {
  background: var(--lp-two);
  color: var(--text);
}

@media screen and (max-width: 768px) {
  #sidebar {
    position: fixed;
    width: auto;
    left: -320px;
    height: -webkit-fill-available;
    transition: left 0.3s ease;
    z-index: 1;
    margin-right: 0;
  }

  #sidebar.open {
    left: 0;
  }

  #sidebar ul {
    padding-bottom: 20px;
  }
}

/* Dark mode styles */
body.dark-mode #sidebar a {
  color: var(--alt-text);
}

body.dark-mode #sidebar a:hover,
body.dark-mode #sidebar a.active {
  color: var(--text);
}

body.dark-mode #search-input,
body.dark-mode #search-results,
body.dark-mode #search-results div:hover {
  color: var(--text);
}

/***********************/
/* Content view styles */
/***********************/

#content {
  scroll-behavior: smooth;
  flex-grow: 1;
  padding: 30px;
  overflow-y: auto;
  -webkit-mask-image: -webkit-radial-gradient(var(--inv-text), var(--text));
  mask-image: radial-gradient(var(--inv-text), var(--text));
  transition: margin-right 0.3s ease;
}

@media screen and (min-width: 768px) {
  #content.shifted {
    margin-right: 300px;
  }
}

#tutorial-content {
  min-width: 800px;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  #tutorial-content {
    min-width: auto;
    margin: 0 auto;
  }
}

#tutorial-content h1,
#tutorial-content h2,
#tutorial-content h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

#tutorial-content a {
  color: var(--inv-text);
  text-decoration: none;
}

#tutorial-content a:hover {
  text-decoration: underline;
}

#tutorial-content code {
  background: var(--dp-one);
  padding: 2px 5px;
  border-radius: 5px;
}

#tutorial-content pre {
  background: var(--dp-three);
  padding: 15px;
  border-radius: 10px;
  overflow-x: auto;
}

#tutorial-content blockquote {
  border-left: 4px solid var(--lp-five);
  padding: 10px 15px;
  margin: 20px 0;
  background: var(--block-quote);
  font-style: italic;
  color: var(--lp-eight);
}

#tutorial-content hr {
  border: none;
  border-top: 1px solid var(--dp-five);
  margin: 20px 0;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-buttons button:disabled {
  cursor: default;
}

.navigation-buttons button.invisible {
  opacity: 0;
  pointer-events: none;
}

.navigation-buttons button {
  font-family: inherit;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background-color: var(--text);
  color: var(--inv-text);
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .navigation-buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
  }

  .navigation-buttons button {
    height: 100%;
  }

  .navigation-buttons #next-button {
    grid-column: 3/3;
  }

  .navigation-buttons button:nth-of-type(odd) {
    color: var(--text);
    background-color: var(--inv-text);
  }
}

/* Dark mode styles */
body.dark-mode #tutorial-content th {
  color: var(--text);
}

body.dark-mode #tutorial-content a {
  color: var(--blu);
}

body.dark-mode #tutorial-content blockquote {
  border-left-color: var(--t-p-five);
  background: var(--block-quote);
  color: var(--p-eight);
}

body.dark-mode #tutorial-content code {
  background: var(--h-p-two);
}

body.dark-mode #tutorial-content pre {
  background: var(--f-p-five);
}

body.dark-mode #tutorial-content hr {
  border-top: 1px solid var(--lp-five);
}

body.dark-mode .navigation-buttons button {
  transition: background-color 0s, color 0s;
}

body.dark-mode .navigation-buttons button {
  color: var(--text);
  background-color: var(--purp);
}

/***************************/
/* Skeleton Loading Styles */
/***************************/

.skeleton {
  background: linear-gradient(
    90deg,
    var(--lp-zfive) 0%,
    var(--lp-one) 50%,
    var(--lp-zfive) 100%
  );
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 10px;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeleton-text,
.skeleton-li {
  height: 25px;
  margin-bottom: 10px;
}

.skeleton-text:last-child {
  width: 80%;
}

.skeleton-content {
  display: flex;
  flex-direction: column;
}

.skeleton-header {
  height: 80px;
  margin-bottom: 20px;
}

.skeleton-paragraph {
  display: flex;
  flex-direction: column;
}

.skeleton-paragraph .skeleton-text {
  margin-bottom: 10px;
}

/* Dark mode styles */
body.dark-mode .skeleton {
  background: linear-gradient(
    90deg,
    var(--p-one) 0%,
    var(--p-two) 50%,
    var(--p-one) 100%
  );
}

body.dark-mode .skeleton-text {
  background: var(--h-p-two);
}
/***************************/
/* Custom Scrollbar Styles */
/***************************/

#tutorial-list::-webkit-scrollbar,
#content::-webkit-scrollbar,
#search-results::-webkit-scrollbar,
#structure-content::-webkit-scrollbar {
  width: 4px;
}

#tutorial-list::-webkit-scrollbar-track,
#content::-webkit-scrollbar-track,
#search-results::-webkit-scrollbar-track,
#structure-content::-webkit-scrollbar-track {
  background: var(--lp-one);
  border-radius: 10px;
}

#tutorial-list::-webkit-scrollbar-thumb,
#content::-webkit-scrollbar-thumb,
#search-results::-webkit-scrollbar-thumb,
#structure-content::-webkit-scrollbar-thumb {
  background: var(--lp-three);
  border-radius: 10px;
  transition: background 0.3s ease;
}

#tutorial-list::-webkit-scrollbar-thumb:hover,
#content::-webkit-scrollbar-thumb:hover,
#search-results::-webkit-scrollbar-thumb:hover,
#structure-content::-webkit-scrollbar-thumb:hover {
  background: var(--lp-five);
}

/* For Firefox */
#tutorial-list,
#content,
#search-results {
  scrollbar-width: thin;
  scrollbar-color: var(--lp-three) var(--lp-one);
}

/****************************/
/* Autofill styling */
/****************************/

#search-input:-webkit-autofill,
#search-input:-webkit-autofill:hover,
#search-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--lp-two) inset;
  -webkit-text-fill-color: var(--inv-text);
  transition: background-color 5000s ease-in-out 0s;
}

/****************/
/* Table Styles */
/****************/

#tutorial-content table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 20px 0;
  background: var(--lp-one);
  border-radius: 15px;
  overflow: hidden;
}

.table-wrapper {
  overflow-x: auto;
}

#tutorial-content th,
#tutorial-content td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid var(--lp-five);
}

#tutorial-content th {
  background: var(--lp-two);
  font-weight: 600;
  color: var(--text);
}

#tutorial-content tbody tr:hover {
  background: var(--lp-one);
  transition: background 0.3s ease;
}

#tutorial-content tr:last-child td {
  border-bottom: none;
}

#tutorial-content td:first-child {
  font-weight: 500;
  width: 80px;
}

@media screen and (max-width: 640px) {
  .table-wrapper table {
    min-width: 800px;
  }

  #tutorial-content th:nth-of-type(odd),
  #tutorial-content td:nth-of-type(odd) {
    padding-right: 0;
    width: 1%;
  }
}

/***********************/
/* Credits Info Styles */
/***********************/

#credits-info {
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  #credits-info {
    bottom: 10px;
    right: 10px;
  }
}

.credits-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: var(--lp-two);
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: help;
  transition: background 0.3s ease;
  color: var(--text);
  font-weight: bold;
  position: relative;
}

.credits-icon:hover {
  background: var(--lp-three);
}

.credits-tooltip {
  position: absolute;
  bottom: 30px;
  left: -120px;
  transform: translateX(-50%);
  background: var(--dp-eight);
  color: var(--inv-text);
  padding: 5px 10px;
  border-radius: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
  z-index: 1000;
}

.credits-icon:hover .credits-tooltip {
  visibility: visible;
  opacity: 1;
}

.credits-tooltip a {
  color: var(--inv-text);
}

/* Dark mode adjustments */
body.dark-mode .credits-tooltip,
body.dark-mode .credits-tooltip a {
  color: var(--text);
}

body.dark-mode .credits-icon {
  background: var(--lp-one);
  color: --text;
}

body.dark-mode .credits-icon:hover {
  background: var(--lp-two);
}
